:root {
  --primary-color: #fff;
  --secondary-color: #91c73e;
  --tertiary-color: #511c74;
  --quartaire-color: gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

body {
  background-color: var(--quartaire-color);
}

main {
  width: 1000px;
  height: 650px;
  background-color: white;
  margin: 5px auto;
  display: grid;
  grid-template-rows: 200px 400px 50px;
}
